<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@revature.c9lytmq0sqam.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">user1</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>

		<property name="dialect">org.hibernate.dialect.Oracle12cDialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<!-- include our mappings as resources(hbm.xml files) or classes(where 
			we have annotations) -->
			
		<mapping resource="mappings/Customer.hbm.xml"/>
		<mapping resource="mappings/Invoice.hbm.xml"/>
	</session-factory>
</hibernate-configuration>