<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h2>{{title}}</h2>
<h5>1.</h5>
<app-highlight-component1></app-highlight-component1>

<h5>2.</h5>
<app-profile-component2></app-profile-component2>


<h5>3.</h5>
<app-select-component3></app-select-component3>

<h5>4.</h5>
<app-table-component4></app-table-component4>

<h5>5.</h5>
<app-user-component5></app-user-component5>

<router-outlet></router-outlet>