<h1>My First Attribute Directive</h1>

<p [appHighlight]="color" defaultColor="violet">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra. Pulvinar mattis nunc sed blandit libero volutpat sed. Et malesuada fames ac turpis egestas. Quis eleifend quam adipiscing vitae proin. Neque sodales ut etiam sit amet nisl. Urna et pharetra pharetra massa. Pulvinar elementum integer enim neque volutpat ac tincidunt. Donec adipiscing tristique risus nec feugiat in. Quam quisque id diam vel quam elementum pulvinar. Faucibus turpis in eu mi bibendum neque. Urna condimentum mattis pellentesque id nibh. Tincidunt ornare massa eget egestas purus viverra accumsan in. Lectus magna fringilla urna porttitor rhoncus dolor purus non enim. Id porta nibh venenatis cras sed felis eget velit. Eu lobortis elementum nibh tellus. Ultricies leo integer malesuada nunc vel risus.
</p>
<p [appHighlight]="color">Vestibulum sed arcu non odio euismod. Massa placerat duis ultricies lacus sed. Donec adipiscing tristique risus nec feugiat. Vitae justo eget magna fermentum iaculis eu. Metus aliquam eleifend mi in nulla posuere. Amet mauris commodo quis imperdiet massa tincidunt nunc. Varius duis at consectetur lorem donec massa. Pretium lectus quam id leo. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Tristique risus nec feugiat in fermentum posuere urna nec. Sit amet consectetur adipiscing elit ut aliquam purus sit amet.
</p>
<h4>Pick a highlight color</h4>


<div>
  <input type="radio" name="colors" (click)="color='LIGHTGREEN'">LIGHTGREEN <br>
  <input type="radio" name="colors" (click)="color='YELLOW'">YELLOW<br>
  <input type="radio" name="colors" (click)="color='LAVENDER'">LAVENDER<br>
  <input type="radio" name="colors" (click)="color='MAGENTA'">MAGENTA<br>
  <input type="radio" name="colors" (click)="color='BLUEVIOLET'">BLUEVIOLET<br>
  <input type="radio" name="colors" (click)="color='INDIGO'">INDIGO<br>
  <input type="radio" name="colors" (click)="color='TEAL'">TEAL<br>
  <input type="radio" name="colors" (click)="color='DARKCYAN'">DARKCYAN<br>
  <input type="radio" name="colors" (click)="color='DEEPSKYBLUE'">DEEPSKYBLUE<br>
  <input type="radio" name="colors" (click)="color='MIDNIGHTBLUE'">MIDNIGHTBLUE<br>
  <input type="radio" name="colors" (click)="color='MAROON'">MAROON<br>
  <input type="radio" name="colors" (click)="color='MEDIUMVIOLETRED'">MEDIUMVIOLETRED<br>
  <input type="radio" name="colors" (click)="color='HOTPINK'">HOTPINK<br>
  <input type="radio" name="colors" (click)="color='DEEPPINK'">DEEPPINK<br>
  <input type="radio" name="colors" (click)="color='MEDIUMVIOLETRED'">MEDIUMVIOLETRED<br>
  <input type="radio" name="colors" (click)="color='CRIMSON'">CRIMSON<br>
  <input type="radio" name="colors" (click)="color='DARKRED'">DARKRED<br>
  <input type="radio" name="colors" (click)="color='FIREBRICK'">FIREBRICK<br>

</div>
